<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="facturaElectronicaPortNameSoap11" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://facturaelectronica.dian.gov.co:80/habilitacion/B2BIntegrationEngine/FacturaElectronica"
                binding="basicHttpBinding" bindingConfiguration="facturaElectronicaPortNameSoap11"
                contract="DIAN.Recepcion.facturaElectronicaPortName" name="facturaElectronicaPortNameSoap11" />
        </client>

      <behaviors>
        <serviceBehaviors>
          <behavior>
            <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
            <serviceDebug includeExceptionDetailInFaults="false"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
      </protocolMapping>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
      
    </system.serviceModel>
</configuration>